[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/Aquatic-Games/stb
[submodule "lib/grabs.Native"]
	path = lib/grabs.Native
	url = https://github.com/aquagoose/grabs.Native
[submodule "lib/freetype"]
	path = lib/freetype
	url = https://github.com/freetype/freetype/
